<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/562d9a34-ee36-4057-9fc1-0d807ed65bda/resourceGroups/twohaxx/providers/Microsoft.Web/sites/twohaxx-backend</ResourceId>
    <ResourceGroup>twohaxx</ResourceGroup>
    <ApiResourceId>/subscriptions/562d9a34-ee36-4057-9fc1-0d807ed65bda/resourceGroups/twohaxx/providers/Microsoft.ApiManagement/service/twohaxxbackendProjectAPIapi/apis/twohaxxbackendapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://twohaxx-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>54408e15-66b3-414a-a1a3-de285495fbf9</ProjectGuid>
    <MSDeployServiceURL>twohaxx-backend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>twohaxx-backend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$twohaxx-backend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>